@charset "UTF-8";

/*
Em HTML é id, em CSS é # (id só é usado em um elemento)
Em HTML é class, em CSS é . (pode ser usado em vários elementos)
*/

body{
    background-image: radial-gradient(ellipse 80% 30%, rgb(0, 255, 221), rgb(37, 112, 211));
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aliceblue;
}
h1#principal{
    text-align: center;
    background-color: white;
    color: blue;
}
h2{
    color: rgb(14, 10, 228);
}
.basico{
    color: yellow;
}
.intermediario{
    color: orange;
}
.avancado{
    color: rgb(133, 2, 2);
}

.destaque{
    background-color: aquamarine;
}